# 1.0 Create additional columns for .csv data

In [20]:
# Import required modules
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import matplotlib as mplot
import seaborn as sns
from distutils.version import StrictVersion
import IPython
from IPython.core.display import HTML
print("numpy version:  %s" % np.__version__)
print("pandas version:  %s" % pd.__version__)
print("matplotlib version:  %6.6s" % mplot.__version__)
print("IPython version:  %6.6s" % IPython.__version__)
print("seaborn version:  %6.6s" % sns.__version__)

if StrictVersion(np.__version__) >= StrictVersion('1.13.0') and \
   StrictVersion(pd.__version__) >= StrictVersion('0.20.0') and \
   StrictVersion(mplot.__version__) >= StrictVersion('2.0.0') and \
   StrictVersion(IPython.__version__) >= StrictVersion('6.1.0') and \
   StrictVersion(sns.__version__) >= StrictVersion('0.8.0'):
    print('Congratulations, your environment is setup correctly!')
else:
    print('Environment is NOT setup correctly!')

numpy version:  1.14.0
pandas version:  0.22.0
matplotlib version:   2.1.2
IPython version:   6.2.1
seaborn version:   0.8.1
Congratulations, your environment is setup correctly!

In [7]:
# Find the data directory and download data if it is missing
import os
from os import listdir
cwd = os.getcwd()
print('cwd = ',cwd)
datadir = cwd + '/data'
print(datadir,':')
if not os.path.exists(datadir):
    print("Data directory doesn't exist!")
    # Checkout the data from Github
    !git clone https://github.com/stevejohnson2001/dswg
    !rm -rf dswg/.git
    !mv dswg/* .
    !rm -rf dswg
print(listdir(datadir))

cwd =  /Users/stevej/spark/track1
/Users/stevej/spark/track1/data :
['medications.csv', 'allergies.csv', 'procedures.csv', 'conditions.csv', 'careplans.csv', 'encounters.csv', 'immunizations.csv', 'data_model_ready.pkl', 'AllPrescribableOpioidsUsedForPainControlIncludingInactiveMedications.xlsx', 'patients.csv', 'observations.csv']

## 1.1 Read in the data

In [ ]:
# # Read in the data
# dd = {}

# dd['patients'] = {'pat_id':     {'type': np.str, 'required':True}, #, 'primarykey_col':0},
#                   'birth_date': {'type': np.datetime64, 'required':True},
#                   'death_date': {'type': np.datetime64}, 
#                   'ssn':        {'type': np.str},
#                   'drivers':    {'type': np.str},
#                   'passport':   {'type': np.str},
#                   'prefix':     {'type': np.str},
#                   'first':      {'type': np.str, 'required':True},
#                   'last':       {'type': np.str, 'required':True},
#                   'suffix':     {'type': np.str},
#                   'maiden':     {'type': np.str},
#                   'marital':    {'type': np.str},
#                   'race':       {'type': np.str},
#                   'ethnicity':  {'type': np.str},
#                   'gender':     {'type': np.str, 'required':True},
#                   'birthplace': {'type': np.str},
#                   'address':    {'type': np.str, 'required':True}
#                   }
# dd['encounters'] = {'enc_id':                 {'type': np.str, 'required':True}, #, 'primarykey_col':0},
#                     'enc_date':               {'type': np.datetime64, 'required':True},
#                     'enc_pat_id':             {'type': np.str, 'required':True},
#                     'enc_code':               {'type': np.str, 'required':True},
#                     'enc_description':        {'type': np.str, 'required':True},
#                     'enc_reason_code':        {'type': np.str},
#                     'enc_reason_description': {'type': np.str}
#                    }
# dd['observations'] = {'obs_date':        {'type': np.datetime64, 'required':True},
#                       'obs_pat_id':      {'type': np.str, 'required':True},
#                       'obs_enc_id':      {'type': np.str, 'required':True},
#                       'obs_code':        {'type': np.str, 'required':True},
#                       'obs_description': {'type': np.str, 'required':True},
#                       'obs_value':       {'type': np.str},
#                       'obs_units':       {'type': np.str}
#                      }
# dd['medications'] = {'med_start_date':         {'type': np.datetime64, 'required':True},
#                      'med_stop_date':          {'type': np.str, 'required':False},
#                      'med_pat_id':             {'type': np.str, 'required':True},
#                      'med_enc_id':             {'type': np.str, 'required':True},
#                      'med_code':               {'type': np.str, 'required':True},
#                      'med_description':        {'type': np.str, 'required':True},
#                      'med_reason_code':        {'type': np.str},
#                      'med_reason_description': {'type': np.str}
#                      #,'med_days_supply':        {'type': np.int}
#                      }


# data = {}
# for f in dd:
#     m = dd[f]
#     col_names = list(m.keys())
#     #data_types = {k: (v['type'] if v['type'] != np.datetime64 else np.str) for (k,v) in m.items()}
#     data_types = {k: np.str for (k,v) in m.items()}
#     date_cols = [k for k,v in m.items() if v['type'] == np.datetime64]
#     key_cols = [v['primarykey_col'] for k,v in m.items() if 'primarykey_col' in v]
#     if len(key_cols) == 0:
#         key_cols = None
#     print('{}:'.format(f))
#     print('  keys:  {}'.format(key_cols))
#     print('  types: {}'.format(data_types))
#     print('  cols:  {}'.format(col_names))
#     print('  dates: {}'.format(date_cols))
#     #data[f] = pd.read_csv(datadir + '/{}.csv'.format(f), index_col=key_cols, dtype=data_types, header=0, parse_dates=date_cols, names=col_names)
#     data[f] = pd.read_csv(datadir + '/{}.csv'.format(f), header=0, names=col_names, dtype=data_types, delimiter=',', keep_default_na=False) #, index_col=False)
#     display(data[f].head(5))
#     print(data[f].dtypes)

# patients = data['patients']
# encounters = data['encounters']
# observations = data['observations']
# medications = data['medications']

In [8]:
# Read in the data
dd = {}

dd['patients'] = {'pat_id':     {'type': np.str, 'required':True},  #, 'primarykey_col':0},
                  'birth_date': {'type': np.datetime64, 'format': '%Y-%m-%d', 'required':True},
                  'death_date': {'type': np.datetime64, 'format': '%Y-%m-%d' }, 
                  'ssn':        {'type': np.str},
                  'drivers':    {'type': np.str},
                  'passport':   {'type': np.str},
                  'prefix':     {'type': np.str},
                  'first':      {'type': np.str, 'required':True},
                  'last':       {'type': np.str, 'required':True},
                  'suffix':     {'type': np.str},
                  'maiden':     {'type': np.str},
                  'marital':    {'type': np.str},
                  'race':       {'type': np.str},
                  'ethnicity':  {'type': np.str},
                  'gender':     {'type': np.str, 'required':True},
                  'birthplace': {'type': np.str},
                  'address':    {'type': np.str, 'required':True}
                  }
dd['encounters'] = {'enc_id':                 {'type': np.str, 'required':True},   #'primarykey_col':0},
                    'enc_date':               {'type': np.datetime64, 'format': '%Y-%m-%d', 'required':True},
                    'enc_pat_id':             {'type': np.str, 'required':True},
                    'enc_code':               {'type': np.str, 'required':True},
                    'enc_description':        {'type': np.str, 'required':True},
                    'enc_reason_code':        {'type': np.str},
                    'enc_reason_description': {'type': np.str}
                   }
dd['observations'] = {'obs_date':        {'type': np.datetime64, 'format': '%Y-%m-%d', 'required':True},
                      'obs_pat_id':      {'type': np.str, 'required':True},
                      'obs_enc_id':      {'type': np.str, 'required':True},
                      'obs_code':        {'type': np.str, 'required':True},
                      'obs_description': {'type': np.str, 'required':True},
                      'obs_value':       {'type': np.str},
                      'obs_units':       {'type': np.str}
                     }
dd['medications'] = {'med_start_date':         {'type': np.datetime64, 'format': '%Y-%m-%d', 'required':True},
                     'med_stop_date':          {'type': np.datetime64, 'format': '%Y-%m-%d', 'required':False},
                     'med_pat_id':             {'type': np.str, 'required':True},
                     'med_enc_id':             {'type': np.str, 'required':True},
                     'med_code':               {'type': np.str, 'required':True},
                     'med_description':        {'type': np.str, 'required':True},
                     'med_reason_code':        {'type': np.str},
                     'med_reason_description': {'type': np.str}
                     #'med_days_supply':        {'type': np.int}
                     }
dd['conditions'] =  {'cond_start_date':         {'type': np.datetime64, 'format': '%Y-%m-%d', 'required':True},
                     'cond_stop_date':          {'type': np.datetime64, 'format': '%Y-%m-%d', 'required':False},
                     'cond_pat_id':             {'type': np.str, 'required':True},
                     'cond_enc_id':             {'type': np.str, 'required':True},
                     'cond_code':               {'type': np.str, 'required':True},
                     'cond_description':        {'type': np.str, 'required':True}
                     }

data = {}
for f in dd:
    m = dd[f]
    col_names = list(m.keys())
    #data_types = {k: (v['type'] if v['type'] != np.datetime64 else np.str) for (k,v) in m.items()}
    data_types = [np.str]*len(col_names)
    date_cols = [k for k,v in m.items() if v['type'] == np.datetime64]
    key_cols = [v['primarykey_col'] for k,v in m.items() if 'primarykey_col' in v]
    if len(key_cols) == 0:
        key_cols = None
    print('{}:'.format(f))
    print('  keys:  {}'.format(key_cols))
    print('  types: {}'.format(data_types))
    print('  cols:  {}'.format(col_names))
    print('  dates: {}'.format(date_cols))
    #data[f] = pd.read_csv(datadir + '/{}.csv'.format(f), index_col=key_cols, dtype=data_types, header=0, parse_dates=date_cols, names=col_names)
    data[f] = pd.read_csv(datadir + '/{}.csv'.format(f), dtype=str, index_col=False, header=0, names=col_names, keep_default_na=False)
    display(data[f].head(5))
    print('Num records = ',len(data[f]))
    print('\nData Types:\n',data[f].dtypes)
    
patients = data['patients']
encounters = data['encounters']
observations = data['observations']
medications = data['medications']
conditions = data['conditions']

patients:
  keys:  None
  types: [<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]
  cols:  ['pat_id', 'birth_date', 'death_date', 'ssn', 'drivers', 'passport', 'prefix', 'first', 'last', 'suffix', 'maiden', 'marital', 'race', 'ethnicity', 'gender', 'birthplace', 'address']
  dates: ['birth_date', 'death_date']

,pat_id,birth_date,death_date,ssn,drivers,passport,prefix,first,last,suffix,maiden,marital,race,ethnicity,gender,birthplace,address
0,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,2009-05-16,,999-83-3779,,,,Joslyn677,Stark857,,,,white,portuguese,F,Columbus,278 Green Pathway Ashland Ohio 44805 US
1,d78c03e8-5c27-42d4-ac6a-634136a338d9,2004-01-03,,999-94-4140,,,,Malcom15,Runolfsdottir785,,,,white,american,M,Beavercreek,211 Welch Plaza Columbus Ohio 43002 US
2,3eebba63-51a3-4f76-86fc-fa584f56aa87,2002-06-23,,999-47-5418,,,,Azzie965,Kub800,,,,white,portuguese,F,Warrenship,148 Beer Common Mount Healthy Ohio 45231 US
3,9f8e3f49-c8ed-40ee-910c-61202baf9bff,2015-03-25,,999-23-2922,,,,Jamel269,Marquardt819,,,,white,english,M,New Franklin,182 Mann Row Columbus Ohio 43002 US
4,09bd4fe4-bb55-427c-bd36-6d9d51ee6b01,2014-05-05,,999-88-4173,,,,Shena75,Larkin917,,,,white,swedish,F,Columbus,149 Trantow Plaza Dayton Ohio 45377 US

Num records =  10368

Data Types:
 pat_id        object
birth_date    object
death_date    object
ssn           object
drivers       object
passport      object
prefix        object
first         object
last          object
suffix        object
maiden        object
marital       object
race          object
ethnicity     object
gender        object
birthplace    object
address       object
dtype: object
encounters:
  keys:  None
  types: [<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]
  cols:  ['enc_id', 'enc_date', 'enc_pat_id', 'enc_code', 'enc_description', 'enc_reason_code', 'enc_reason_description']
  dates: ['enc_date']

,enc_id,enc_date,enc_pat_id,enc_code,enc_description,enc_reason_code,enc_reason_description
0,bb12c27d-02ce-4b1d-8448-743d862530e5,2014-04-26,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,185349003,Encounter for check up (procedure),,
1,86ea191a-5eb4-4547-b368-9f11539820b0,2014-05-22,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,185345009,Encounter for symptom,195662009,Acute viral pharyngitis (disorder)
2,6ef16628-1751-44a3-a308-66a782ac3554,2015-05-02,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,185349003,Encounter for check up (procedure),,
3,94413f7c-6cc9-4db9-95c5-43ee1b3ca976,2016-02-09,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,50849002,Emergency room admission,,
4,ce276b6f-eac0-4a15-8a2f-53fd11f3f005,2016-03-10,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,185349003,Encounter for 'check-up',65966004,Fracture of forearm

Num records =  129975

Data Types:
 enc_id                    object
enc_date                  object
enc_pat_id                object
enc_code                  object
enc_description           object
enc_reason_code           object
enc_reason_description    object
dtype: object
observations:
  keys:  None
  types: [<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]
  cols:  ['obs_date', 'obs_pat_id', 'obs_enc_id', 'obs_code', 'obs_description', 'obs_value', 'obs_units']
  dates: ['obs_date']

,obs_date,obs_pat_id,obs_enc_id,obs_code,obs_description,obs_value,obs_units
0,2014-04-26,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,bb12c27d-02ce-4b1d-8448-743d862530e5,8302-2,Body Height,107.7,cm
1,2014-04-26,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,bb12c27d-02ce-4b1d-8448-743d862530e5,29463-7,Body Weight,17.7,kg
2,2014-04-26,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,bb12c27d-02ce-4b1d-8448-743d862530e5,39156-5,Body Mass Index,15.3,kg/m2
3,2014-04-26,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,bb12c27d-02ce-4b1d-8448-743d862530e5,8462-4,Diastolic Blood Pressure,88.3,mmHg
4,2014-04-26,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,bb12c27d-02ce-4b1d-8448-743d862530e5,8480-6,Systolic Blood Pressure,127.8,mmHg

Num records =  550360

Data Types:
 obs_date           object
obs_pat_id         object
obs_enc_id         object
obs_code           object
obs_description    object
obs_value          object
obs_units          object
dtype: object
medications:
  keys:  None
  types: [<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]
  cols:  ['med_start_date', 'med_stop_date', 'med_pat_id', 'med_enc_id', 'med_code', 'med_description', 'med_reason_code', 'med_reason_description']
  dates: ['med_start_date', 'med_stop_date']

,med_start_date,med_stop_date,med_pat_id,med_enc_id,med_code,med_description,med_reason_code,med_reason_description
0,2016-02-09,2016-03-10,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,94413f7c-6cc9-4db9-95c5-43ee1b3ca976,282464,Acetaminophen 160 MG Oral Tablet,,
1,2015-04-25,2015-05-16,d78c03e8-5c27-42d4-ac6a-634136a338d9,892fbc8a-dfa5-4087-b315-0674e215d3ec,198405,Ibuprofen 100 MG Oral Tablet,,
2,2015-06-20,2015-07-03,d78c03e8-5c27-42d4-ac6a-634136a338d9,5719f49b-e086-41bb-b0d9-bb847d9050a7,834060,Penicillin V Potassium 250 MG,43878008,Streptococcal sore throat (disorder)
3,2017-05-05,2017-05-19,d78c03e8-5c27-42d4-ac6a-634136a338d9,76224c74-75cb-4316-8137-b8518f1f8078,849574,Naproxen sodium 220 MG Oral Tablet,,
4,2017-06-26,2017-07-08,d78c03e8-5c27-42d4-ac6a-634136a338d9,8981540a-fcbb-4daa-b62c-10afb5de0e88,834060,Penicillin V Potassium 250 MG,43878008,Streptococcal sore throat (disorder)

Num records =  21974

Data Types:
 med_start_date            object
med_stop_date             object
med_pat_id                object
med_enc_id                object
med_code                  object
med_description           object
med_reason_code           object
med_reason_description    object
dtype: object
conditions:
  keys:  None
  types: [<class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>, <class 'str'>]
  cols:  ['cond_start_date', 'cond_stop_date', 'cond_pat_id', 'cond_enc_id', 'cond_code', 'cond_description']
  dates: ['cond_start_date', 'cond_stop_date']

,cond_start_date,cond_stop_date,cond_pat_id,cond_enc_id,cond_code,cond_description
0,2014-05-22,2014-06-04,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,86ea191a-5eb4-4547-b368-9f11539820b0,195662009,Acute viral pharyngitis (disorder)
1,2016-02-09,2016-03-10,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,94413f7c-6cc9-4db9-95c5-43ee1b3ca976,65966004,Fracture of forearm
2,2015-04-25,2015-05-16,d78c03e8-5c27-42d4-ac6a-634136a338d9,892fbc8a-dfa5-4087-b315-0674e215d3ec,284551006,Laceration of foot
3,2015-06-20,2015-07-03,d78c03e8-5c27-42d4-ac6a-634136a338d9,5719f49b-e086-41bb-b0d9-bb847d9050a7,43878008,Streptococcal sore throat (disorder)
4,2017-05-05,2017-05-19,d78c03e8-5c27-42d4-ac6a-634136a338d9,76224c74-75cb-4316-8137-b8518f1f8078,70704007,Sprain of wrist

Num records =  24065

Data Types:
 cond_start_date     object
cond_stop_date      object
cond_pat_id         object
cond_enc_id         object
cond_code           object
cond_description    object
dtype: object

In [9]:
# Add days_supply to the Medications
opioids_rxnorm = ['1049369','1310197','1049544']
med2 = pd.DataFrame()
patients_that_overdosed = set(encounters[encounters['enc_reason_code']=='55680006']['enc_pat_id'])  # Overdose
patients_prescribed_opioids = set(medications[medications['med_code'].isin(opioids_rxnorm)]['med_pat_id'])  # Opioids

In [10]:
overlap = patients_that_overdosed.intersection(patients_prescribed_opioids)
print('Overlap = ',len(overlap))
diff = patients_that_overdosed.difference(patients_prescribed_opioids)
print('Diff = ',len(diff))
#print(diff)
print('Overdosed = ',len(patients_that_overdosed))
print('Prescribed Opioids = ',len(patients_prescribed_opioids))

Overlap =  4
Diff =  401
Overdosed =  405
Prescribed Opioids =  299

In [11]:
from random import randint, random
def get_days_supply(pat_id,code):
    days_supply = randint(2,5)
    overdose = pat_id in list(patients_that_overdosed)
    opioid = code in opioids_rxnorm
    if overdose & opioid:
        if random() > 0.40:   # Overdose patients have a 60% chance of a large days supply
            days_supply = randint(20,30)      
    return days_supply
print(medications.shape)
med2 = medications

med2['med_days_supply'] = med2.apply(lambda x: get_days_supply(x['med_pat_id'], x['med_code']), axis=1)
display(medications[medications['med_pat_id'].isin(patients_that_overdosed) & medications['med_code'].isin(['1049369','1310197','1049544'])].head(10))

(21974, 8)

,med_start_date,med_stop_date,med_pat_id,med_enc_id,med_code,med_description,med_reason_code,med_reason_description,med_days_supply
1279,2013-07-10,2013-07-31,ca8667e6-a8de-4e13-af4c-a8260a6856fe,af934c30-5307-487b-8213-d0c465f0dfc0,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,25
4757,2015-06-29,2015-07-06,759cb245-a758-425d-bf38-a944659e6b9c,94d365a3-fa41-4e44-9a32-672a57fb72ee,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,24
5474,2013-08-30,2013-09-06,d1b26995-19f2-4182-b0d4-33acc504eb04,dbd3267f-7060-4f2b-9d0f-1f91dcac5360,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,27
14950,2014-03-11,2014-03-18,ce62a210-cf10-42be-9bbc-6e090d9b4300,76c701cd-c0d6-437d-9fa4-feb35ac58ffe,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,24

In [12]:
# Make sure 60% of the patients that overdosed had at least one prescription for opioids
# TODO: Fix Opioid Desc

from random import random, randint
new_meds = []
cols=list(medications.columns)
opioids_rxnorm = ['1049369','1310197','1049544']
desc = ["Acetaminophen 325 MG / oxyCODONE Hydrochloride 5 MG [Percocet]",\
        "Acetaminophen 300 MG / HYDROcodone Bitartrate 5 MG [Vicodin]",\
        "oxyCODONE Hydrochloride 15 MG [OxyCONTIN]"]
for pat_id in list(diff):
    if random() > 0.4:
        encs = encounters[encounters['enc_pat_id'] == pat_id]
        #print(pat_id,encs.shape,len(encs))
        if len(encs) > 0:
            e = encs.iloc[0]
            #print(e['enc_pat_id'],' ',e['enc_id'])
            #%%debug
            i = randint(0,2)
            med = {'med_start_date': e['enc_date'], 'med_stop_date': '',
                   'med_pat_id':pat_id, 'med_enc_id': e['enc_id'],
                   'med_code': opioids_rxnorm[i], 
                   'med_description': desc[i], 
                   'med_reason_code': '', 
                   'med_reason_description': '', 
                   'med_days_supply': (randint(20,30) if random() > .5 else randint(1,10))
                  }
            new_meds.append(med)


new = pd.DataFrame(new_meds,columns=cols)
display(new.head(5))
medications_save = medications.copy()
print(new.shape,medications.shape)
medications = medications.append(new,ignore_index=True)
medications = medications[cols]
#print(medications.shape)

,med_start_date,med_stop_date,med_pat_id,med_enc_id,med_code,med_description,med_reason_code,med_reason_description,med_days_supply
0,2013-10-17,,ab7e328a-f026-44f2-a6fb-3e64fd855d7f,d3ffaf2a-e055-429d-8a9a-d3995795d48a,1310197,Acetaminophen 300 MG / HYDROcodone Bitartrate ...,,,29
1,2013-10-15,,473a7651-7207-4b99-83e1-8ee7e994e18f,ff39fb04-9749-4c68-9aed-2a119d41f20e,1049369,Acetaminophen 325 MG / oxyCODONE Hydrochloride...,,,2
2,2013-12-09,,1b955b7f-ab4e-4f1c-9e61-2ca6df7370a2,673d318a-f0d0-432a-be9e-e7b80fa40020,1310197,Acetaminophen 300 MG / HYDROcodone Bitartrate ...,,,4
3,2013-06-11,,b93a5588-51d5-40b6-ac26-2c73a3ca884b,bdb20077-4a4a-47aa-8879-a264e978111a,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,23
4,2013-07-05,,5bb9e207-6954-4195-aba0-8608aea398c0,c541c156-6c7a-48b8-a6f9-b7a0c23f43d4,1310197,Acetaminophen 300 MG / HYDROcodone Bitartrate ...,,,2

(230, 9) (21974, 9)

In [13]:
# Make sure additional patients had opioids prescribed


from random import random, randint

addl_pats = patients['pat_id'][np.random.randint(0,len(patients),int(.02*len(patients)))]
#print(len(addl_pats),addl_pats)

In [14]:
new_meds = []
cols=list(medications.columns)
opioids_rxnorm = ['1049369','1310197','1049544']
desc = ["Acetaminophen 325 MG / oxyCODONE Hydrochloride 5 MG [Percocet]",\
        "Acetaminophen 300 MG / HYDROcodone Bitartrate 5 MG [Vicodin]",\
        "oxyCODONE Hydrochloride 15 MG [OxyCONTIN]"]
for pat_id in list(addl_pats):
    if True: 
        encs = encounters[encounters['enc_pat_id'] == pat_id]
        #print(pat_id,encs.shape,len(encs))
        if len(encs) > 0:
            e = encs.iloc[0]
            #print(e['enc_pat_id'],' ',e['enc_id'])
            #%%debug
            i = randint(0,2)
            med = {'med_start_date': e['enc_date'], 'med_stop_date': '',
                   'med_pat_id':pat_id, 'med_enc_id': e['enc_id'],
                   'med_code': opioids_rxnorm[i], 
                   'med_description': desc[i], 
                   'med_reason_code': '', 
                   'med_reason_description': '', 
                   'med_days_supply': (randint(20,30) if random() > .3 else randint(1,10)) # 70% of addl patients have low days supply
                  }
            new_meds.append(med)


new = pd.DataFrame(new_meds,columns=cols)
display(new.head(5))
medications_save = medications.copy()
print(new.shape,medications.shape)
medications = medications.append(new,ignore_index=True)
medications = medications[cols]
#print(medications.shape)

,med_start_date,med_stop_date,med_pat_id,med_enc_id,med_code,med_description,med_reason_code,med_reason_description,med_days_supply
0,2013-06-08,,eab57bef-78d0-4c2d-8439-5f12daaff5a5,4ca0584b-fc1f-4ff4-a9eb-675b1afbaecc,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,29
1,2013-10-23,,9051a544-f68d-4629-80e9-f86527e4701b,54c8bb71-2ecd-44c9-853e-cdd4fa772201,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,5
2,2000-06-18,,2e6dce34-f9ed-40a1-9df4-d22676299cbc,34583072-d7aa-48b4-b556-4ca9722ab52c,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,21
3,2013-07-14,,92892590-ab4e-4a84-9718-d8ba14a6d734,eec024f4-667c-4b14-babb-4a21cbd11ad4,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,28
4,2013-06-08,,2d413596-d27b-4d5b-9b04-3502be907f5b,109e8585-56d1-498c-85f3-6a494585b079,1049544,oxyCODONE Hydrochloride 15 MG [OxyCONTIN],,,22

(207, 9) (22204, 9)

In [15]:
print(medications.shape)

(22411, 9)

In [16]:
# Add columns to patients
# TODO: Move to CreateData


#df = patients
#df['age_at_visit'] = round((pd.to_datetime(df['enc_date']) - pd.to_datetime(df['birth_date'])).dt.days/365)
#df['age'] = round((pd.Timestamp.today() - pd.to_datetime(patients['birth_date'])).dt.days/365)
#df['adult'] = np.where(df['age'] >= 18, 1, 0)

#patients['age'] = round((pd.Timestamp.today() - pd.to_datetime(patients['birth_date'])).dt.days/365)

# Use a set to eliminate duplicates
patients_that_overdosed = set(encounters[encounters['enc_reason_code']=='55680006']['enc_pat_id'])  # Overdose

#df['overdose'] = np.where(df['pat_id'].isin(patients_that_overdosed), 1, 0)
patients['overdose'] = np.where(patients['pat_id'].isin(patients_that_overdosed), 1, 0)

patients_overdose_deaths = set(observations[(observations['obs_code'] == '69453-9') &   # Death
                                (observations['obs_value'].str.contains('overdose'))]['obs_pat_id'])


patients_prescribed_opioids = set(medications[medications['med_code'].isin(opioids_rxnorm)]['med_pat_id'])  # Opioids

#df['prescribed_opioids'] = np.where(df['pat_id'].isin(patients_prescribed_opioids), 1, 0)
#patients['prescribed_opioids'] = np.where(patients['pat_id'].isin(patients_prescribed_opioids), 1, 0)

print('Num patients prescribed opioids = {}, Num overdoses = {}, Num overdose deaths = {}'
         .format(len(patients_prescribed_opioids),len(patients_that_overdosed),len(patients_overdose_deaths)))
from random import seed, random
seed()

patients['prior_opioid_abuse_diag'] = patients['overdose'].apply(lambda x: x if random() > .60 else randint(0,1))
patients.drop(['overdose'],axis=1,inplace=True)
#patients['num_prior_prescriptions'] = patients['overdose'].apply(lambda x: randint(20,30) if random() > .20 else randint(0,3))
#df['prior_mental_health_diag'] = df['overdose'].apply(lambda x: x if random() > .60 else 0)
display(patients.corr())

Num patients prescribed opioids = 722, Num overdoses = 405, Num overdose deaths = 23

                         prior_opioid_abuse_diag
prior_opioid_abuse_diag                      1.0

## 1.3 Inject Data Quality Errors

In [17]:
# Inject data quality errors

# TODO: Move to CreateData
# Make some data missing and bad format
from random import randint
for name, tbl_dd in dd.items():
    print('Name: ',name)
    d = data[name]
    for field_name, field in tbl_dd.items():
        if field['type'] != np.str:   # Only inject errors in non-string types
            print('  Field: ', field_name)
            col = d[field_name]
            to_change = np.random.randint(0,len(col),randint(1,5))
            print('Changing Format ',len(to_change),to_change)
            col.loc[to_change] = 'BAD_DATA'
            col = d[field_name]
            to_change = np.random.randint(0,len(col),randint(1,5))
            print('Changing Missing ',len(to_change),to_change)
            col.loc[to_change] = ''    
    #display(d.head(10))
# change = patients.sample(5).index
# patients.loc[change,'birth_date'] = 'BAD_DATE'
# change = [4,5,6] #patients.sample(5).index
# patients.loc[change,'birth_date'] = ''
# print(np.where(patients['birth_date'] == 'BAD_DATE'))
# print(len(np.where(patients['birth_date'] == 'BAD_DATE')[0]))
# display(patients.head(10))

Name:  patients
  Field:  birth_date
Changing Format  4 [5116 4229 5440  176]

/Users/stevej/anaconda3/lib/python3.6/site-packages/pandas/core/indexing.py:194: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

Changing Missing  3 [1094 7676 8077]
  Field:  death_date
Changing Format  2 [5782 5700]
Changing Missing  1 [5132]
Name:  encounters
  Field:  enc_date
Changing Format  4 [ 45680 117205  33320  27729]
Changing Missing  3 [21778 37855 21417]
Name:  observations
  Field:  obs_date
Changing Format  2 [308657  53829]
Changing Missing  5 [229066 215752 332144 289567 312172]
Name:  medications
  Field:  med_start_date
Changing Format  1 [5896]
Changing Missing  1 [4242]
  Field:  med_stop_date
Changing Format  3 [ 7680 21904  4197]
Changing Missing  2 [6175 1715]
Name:  conditions
  Field:  cond_start_date
Changing Format  3 [17547 20625 21297]
Changing Missing  3 [19460 23469   167]
  Field:  cond_stop_date
Changing Format  2 [22406  3278]
Changing Missing  4 [13178 18532   512  3096]

In [ ]:
# display(patients.head(5))
# patients = patients.drop(['index'],axis=1)
# display(patients.head(5))

In [ ]:
# display(encounters.head(5))
# encounters = encounters.drop(['index'],axis=1)
# display(encounters.head(5))

In [18]:
display(patients.head(5))
display(medications.head(5))

,pat_id,birth_date,death_date,ssn,drivers,passport,prefix,first,last,suffix,maiden,marital,race,ethnicity,gender,birthplace,address,prior_opioid_abuse_diag
0,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,2009-05-16,,999-83-3779,,,,Joslyn677,Stark857,,,,white,portuguese,F,Columbus,278 Green Pathway Ashland Ohio 44805 US,0
1,d78c03e8-5c27-42d4-ac6a-634136a338d9,2004-01-03,,999-94-4140,,,,Malcom15,Runolfsdottir785,,,,white,american,M,Beavercreek,211 Welch Plaza Columbus Ohio 43002 US,0
2,3eebba63-51a3-4f76-86fc-fa584f56aa87,2002-06-23,,999-47-5418,,,,Azzie965,Kub800,,,,white,portuguese,F,Warrenship,148 Beer Common Mount Healthy Ohio 45231 US,0
3,9f8e3f49-c8ed-40ee-910c-61202baf9bff,2015-03-25,,999-23-2922,,,,Jamel269,Marquardt819,,,,white,english,M,New Franklin,182 Mann Row Columbus Ohio 43002 US,1
4,09bd4fe4-bb55-427c-bd36-6d9d51ee6b01,2014-05-05,,999-88-4173,,,,Shena75,Larkin917,,,,white,swedish,F,Columbus,149 Trantow Plaza Dayton Ohio 45377 US,0

,med_start_date,med_stop_date,med_pat_id,med_enc_id,med_code,med_description,med_reason_code,med_reason_description,med_days_supply
0,2016-02-09,2016-03-10,52e3f2e9-82a1-4ec5-b90a-e42c17551da8,94413f7c-6cc9-4db9-95c5-43ee1b3ca976,282464,Acetaminophen 160 MG Oral Tablet,,,4
1,2015-04-25,2015-05-16,d78c03e8-5c27-42d4-ac6a-634136a338d9,892fbc8a-dfa5-4087-b315-0674e215d3ec,198405,Ibuprofen 100 MG Oral Tablet,,,5
2,2015-06-20,2015-07-03,d78c03e8-5c27-42d4-ac6a-634136a338d9,5719f49b-e086-41bb-b0d9-bb847d9050a7,834060,Penicillin V Potassium 250 MG,43878008,Streptococcal sore throat (disorder),5
3,2017-05-05,2017-05-19,d78c03e8-5c27-42d4-ac6a-634136a338d9,76224c74-75cb-4316-8137-b8518f1f8078,849574,Naproxen sodium 220 MG Oral Tablet,,,4
4,2017-06-26,2017-07-08,d78c03e8-5c27-42d4-ac6a-634136a338d9,8981540a-fcbb-4daa-b62c-10afb5de0e88,834060,Penicillin V Potassium 250 MG,43878008,Streptococcal sore throat (disorder),2

In [21]:
# Print Data Dictionary
# TODO: Add the med_supply row 

for name, tbl_dd in dd.items():
    display(HTML('<h2>{}</h2>'.format(name)))
    list(dd[name].keys())
    d = pd.DataFrame(dd[name]).fillna('')
    d = d[list(dd[name].keys())]
    d = d.replace(np.str,'str')
    d = d.replace(np.datetime64,'datetime')
    d = d.replace(np.int,'int')
    d = d.loc[['type','format','required'],:]
    if name == 'patients':
        d = d.drop(['maiden','passport','drivers','prefix','suffix','ssn','first','last'],axis=1)
    for fname, field in d.items():
        if fname.endswith('date'):
            field['type'] = 'datetime'
    display(d)

,pat_id,birth_date,death_date,marital,race,ethnicity,gender,birthplace,address
type,str,datetime,datetime,str,str,str,str,str,str
format,,%Y-%m-%d,%Y-%m-%d,,,,,,
required,True,True,,,,,True,,True

,enc_id,enc_date,enc_pat_id,enc_code,enc_description,enc_reason_code,enc_reason_description
type,str,datetime,str,str,str,str,str
format,,%Y-%m-%d,,,,,
required,True,True,True,True,True,,

,obs_date,obs_pat_id,obs_enc_id,obs_code,obs_description,obs_value,obs_units
type,datetime,str,str,str,str,str,str
format,%Y-%m-%d,,,,,,
required,True,True,True,True,True,,

,med_start_date,med_stop_date,med_pat_id,med_enc_id,med_code,med_description,med_reason_code,med_reason_description
type,datetime,datetime,str,str,str,str,str,str
format,%Y-%m-%d,%Y-%m-%d,,,,,,
required,True,False,True,True,True,True,,

,cond_start_date,cond_stop_date,cond_pat_id,cond_enc_id,cond_code,cond_description
type,datetime,datetime,str,str,str,str
format,%Y-%m-%d,%Y-%m-%d,,,,
required,True,False,True,True,True,True

In [22]:
# Write the data to .csv files

#patients.reset_index(drop=True,inplace=True)
patients.to_csv(datadir + '/patients2.csv', index=False)

#encounters.reset_index(level=0,inplace=True)
encounters.to_csv(datadir + '/encounters2.csv', index=False)
observations.to_csv(datadir + '/observations2.csv', index=False)
medications.to_csv(datadir + '/medications2.csv', index=False)